@import "tailwindcss";

:root {
  color-scheme: light; /* هذا السطر يمنع المتصفح من تطبيق الوضع الليلي */
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Tajawal', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono); 
}

/* تطبيق الخط واللون على كل عناصر الصفحة */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* ===== إصلاح لون النص داخل الحقول ===== */

/* كل الحقول */
input,
textarea,
select {
  color: inherit !important;
  -webkit-text-fill-color: inherit !important;
}

/* placeholder */
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #9ca3af !important;
  -webkit-text-fill-color: #9ca3af !important;
}

/* autofill Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}